<div class="u-container u-margin-top">
    <div class="a-ingredient-list u-padding">
      <h1>Ingredients</h1>
      <ol class="u-row u-margin-top">
        {% for ingredient in ingredientList %}
          <li class="u-col-md-4 u-col-sm-6 u-col-xs-12">
            <div class="a-ingredient">
            {{ ingredient['ingredient'] }}
              <div class="a-ingredient__delete">
                <a href="{{ ingredient['delete'] }}">
                  <span class="icon-plus"></span>
                </a>
              </div>
            </div>
          </li>
        {% endfor %}
      </ol>
    </div>
  <div class="u-row u-margin-top">
    {% for meal in meals %}
      {% for fields in meal %}
        <div class="u-col-md-3 u-col-xs-6">
          <div class="m-recipe">
            <a class="m-recipe__link" href="/recipes/{{ fields.mealUrl }}"></a>
            <header class="m-recipe__header u-margin-bottom">
              <h3>{{ fields.strMeal }}</h3>
              {#<div class="m-recipe__rating">#}
              {#<p>4,5</p>#}
              {#</div>#}
            </header>
            <div class="m-recipe__image">
              <img src="{{ fields.strMealThumb }}" alt="{{ fields.strMeal }}">
            </div>
          </div>
        </div>
        {% endfor %}
    {% endfor %}
  </div>
</div>
