{%
  set classes = [
  'u-col-md-3',
  'u-col-xs-6',
]
%}

<div {{ attributes.addClass(classes) }}>
  <div class="m-recipe">
    <a class="m-recipe__link" href="{{ url }}"></a>
    <header class="m-recipe__header u-margin-bottom">
      <h3>{{ node.title.value }}</h3>
      <div class="m-recipe__rating">
        {{ content.field_rating }}
      </div>
    </header>
    <div class="m-recipe__image">
      <img src="{{ content.field_image_url }}" alt="{{ node.title.value }}">
    </div>
  </div>
</div>
