<div {{ attributes }}>
  <div class="o-hero">
    <div class="o-hero__inner">
      <div class="o-hero__image" style="background-image: url({{ file_url(node.field_hero_home.entity.field_media_image.entity.uri.value) }})"></div>
      <div class="o-hero__container u-container u-container--xs">
        <div class="o-hero__content">
          <h1 class="o-hero__title">{{ content.field_hero_image_title }}</h1>
          <p class="o-hero__text">{{ content.field_hero_image_text }}</p>
          <a href="/recipes" class="o-hero__button a-button a-button--secondary">
            <span>Find recipes</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="u-container">
    {{ content.field_most_rated_recipes }}
    <div class="u-text-center">
      <a href="/recipes" class="o-hero__button a-button a-button--large a-button--red">
        <span>Find recipes</span>
      </a>
    </div>
  </div>
</div>
