{%
  set classes = [
  'u-container',
]
%}
<div {{ attributes.addClass(classes) }}>
    {{ content }}
  {% if content.field_view|length <= 2 %}
    <div class="u-margin-top">
      <h3>You don't seem to have any favorites yet!</h3>
      <a href="/recipes" class="o-hero__button a-button a-button--large a-button--red">
        <span>Find recipes</span>
      </a>
    </div>
  {% endif %}
</div>
