{%
  set classes = [
  'o-hero',
  'o-hero--centered',
]
%}
<div {{ attributes.addClass(classes) }}>
  <div class="o-hero__inner">
    <div class="o-hero__image" style="background-image: url({{ content.field_image_url }})"></div>
    <div class="o-hero__container u-container">
      <div class="o-hero__content">
        <h1 class="o-hero__title">{{ label }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="u-container">
  {% if logged_in %}
    <div class="align-left">
    {{ content.field_rating }}
    </div>
    <div class="align-right">
    {{ flag_link }}
    </div>
  {% endif %}
</div>
<div class="u-container">
  <div class="a-ingredient-list u-padding">
    <h1>Ingredients</h1>
    <ol class="u-row u-margin-top">
      {{ content.field_ingredient }}
    </ol>
  </div>
  <div class="u-margin-top">
    {{ content.field_step }}
  </div>
</div>
