<div class="u-container">
  <div class="u-text-center">
    {{ content.field_error_image }}
    {% if node.field_home_redirect_button.0.url.external %}
      <div class="u-margin">
        <a class="o-hero__button a-button a-button--large a-button--red" href="{{ node.field_home_redirect_button.uri }}">
          {{ node.field_home_redirect_button.title }}
        </a>
      </div>
    {% else %}
      <div class="u-margin">
        <a class="o-hero__button a-button a-button--large a-button--red" href="{{ path(node.field_home_redirect_button.0.url.routeName, node.field_home_redirect_button.0.url.routeParameters) }}">
          {{ node.field_home_redirect_button.title }}
        </a>
      </div>
    {% endif %}
  </div>
</div>
