{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

<div class="a-input">
  <div class="a-input__field-holder">
    <input{{ attributes }} />
  </div>
  <small class="a-input__description">
    {{ children }}
  </small>
</div>
