{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{%
  set classes = [
  'a-button',
  'a-button--red',
  'a-button--large',
  'o-hero__button'
]
%}
<div class="u-margin-bottom">
    <button{{ attributes.addClass(classes)}}>{{ element['#value'] }}</button>
  <div class="u-row u-margin-top">
    <div class="u-col-xs-12 u-col-sm-6 a-link--left">
      <a class="a-link" href="/user/register">No account yet? Register here!</a>
    </div>
    <div class="u-col-xs-12 u-col-sm-6 a-link--right">
      <a class="a-link" href="/user/password">Forgot your password? Change it here!</a>
    </div>
  </div>
</div>
