{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{%
  set classes = [
  'a-button',
  'a-button--red',
  'a-button--large',
  'o-hero__button'
]
%}
<div class="u-margin-bottom">
    <button{{ attributes.addClass(classes)}}>{{ element['#value'] }}</button>
</div>
