{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}
<div class="u-container">
  {% for type, messages in message_list %}
    {% if type == 'error' %}
      {% set classes = ['a-alert', 'a-alert--error', 'a-alert--transparent', 'u-margin-bottom', 'u-margin-top'] %}
    {% elseif type== 'warning'%}
      {% set classes = ['a-alert', 'a-alert--info', 'a-alert--transparent', 'u-margin-bottom', 'u-margin-top'] %}
    {% elseif type== 'status'%}
      {% set classes = ['a-alert', 'a-alert--success', 'a-alert--transparent', 'u-margin-bottom', 'u-margin-top'] %}
    {% endif %}
    {% if messages|length > 1 %}
      {% for message in messages %}
        <div {{ attributes.addClass(classes) }} role="alert">
          <div class="a-alert__inner u-container">
            <p>{{ message }}</p>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div {{ attributes.addClass(classes) }} role="alert">
        <div class="a-alert__inner u-container">
          <p>{{ messages|first }}</p>
        </div>
      </div>
    {% endif %}
    {{ attributes.removeClass(classes) }}
  {% endfor %}
</div>

