<header class="o-header">
  {{ page.header_top }}
  {{ page.header }}
</header>
<main>
  {% block content %}
    {{ page.content }}
  {% endblock %}
</main>
<footer class="o-footer js--o-footer u-margin-top">
  <div class="o-footer__inner u-container">
    <div class="u-row">
      <div style="width: 100%; text-align: center; padding: 1.25em 0 1.25em 0">
        <p><b>Bachelorproef Geordi Feijens Web & UX 2018-2019</b></p>
      </div>
    </div>
  </div>
  {{ page.footer }}
</footer>
