{% if link_url %}
  <a href="{{ link_url }}">
{% endif %}
{% if inline %}
  {{ svg_data|raw }}
{% else %}
  <div class="m-error u-margin-top-lg">
    <img src="{{ file_url(uri) }}" />
  </div>
{% endif %}
{% if link_url %}
  </a>
{% endif %}
