{% set step = 1 %}

<div class="u-row u-margin-top">
  {% for item in items %}
    <div class="u-col-xs-12">
      <div class="a-recipe-step u-padding">
        <h1>Step {{ step }}</h1>
        {% set step = step + 1 %}
        <p>{{ item }}</p>
      </div>
    </div>
  {% endfor %}
</div>
